body {
  margin: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 24px;
  position: relative;
}

/* header {
  padding: 20px 0px;
  box-sizing: border-box; 
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: top 0.3s;
} */

#head {
  padding: 20px 0px;
  /* box-sizing: border-box; */
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: top 0.5s;
  height: 80px;
  backface-visibility: hidden;
}

#imgtitulo {
  height: 72px;
  width: 183px;
  background-image: url(imagens/titulo.png);
  background-size: cover;
}

.menu {
  background-image: url(imagens/menuvazio.png);
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.menu:hover {
  background-image: url(imagens/menuhover.png);
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
}

.fecharM {
  background-color: black;
  border: none;
}

.Mativo {
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
}

#mySidebar {
  background-color: rgb(0, 0, 0);
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  padding: 16px 0px 0px 12px;
  width: 500px;
  height: 100vh;
  z-index: 4;
}

#linhaItems {
  display: flex;
  flex-direction: row;
}


.linhaM {
  width: 80px;
  height: 407px;
  margin-left: 26px;
  margin-top: -6px;
}

#items {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.item {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: -44px;
}

#itemact {
  text-decoration: none;
  color: var(--roxo);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 8px;
}
  
.item:hover {
  text-decoration: none;
  color: var(--roxo);
}




#fraseinicio {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.text1 {
width: 744px;
text-align: center;
font-size: 48px;
font-weight: 600;
/* color: var(--roxo); */
}


#teaserCont {
  width: 100%;
  border-color: var(--roxo);
  border-width: 2px;
  border-style: solid;
}

#fullvid {
  width: 100%;
  height: 800px;
}


#dfundo {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
}


#fundo {
  background-image: url(imagens/linhaprincipal.svg);
  background-size: cover;
  width: 1064px;
  height: 8240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  /* transform: translateY(772px); */

}




#sobreSec {
  width: 80%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 200px;
}


#sobre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

#sobreText {
  display: flex;
  flex-direction: column;
}

.text2 {
  max-width: 716px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 32px;
}


#bolas1 {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bol1 {
  transform: translate(-80px, 200px);
}

.bol2 {
  transform: translate(360px, 344px);
}

.bol3 {
  transform: translate(60px, 580px);
}

#not1 {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.not1 {
  transform: translate(-84px, -168px);
}

.not2 {
  transform: translate(0px, 648px);
}

.not3 {
  transform: translate(82px, -204px);
  z-index: -1;
}








#siteObj {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 600px;
  margin-bottom: 60px;
}

#perf {
width: 100%;
display: flex;
justify-content: flex-end;
}

.perft {
  width: 366px;
}

#obj {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 86px;
}

#objimg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

#gifimg {
  width: 524px;
  height: 374px;
}

.gifX {
  font-size: 288px;
  font-weight: 700;
  /* color: var(--roxo); */
  position: absolute;
  transform: translate(-80px, 140px);
}


.linkobj:link, .linkobj:visited {
  color: var(--roxo);
  text-decoration: none;
}

.linkobj:hover {
  color: white;
}





#mangab {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

#not1112 {
  width: 100%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not111 {
  transform: translate(-240px, 0px);
}

.not112 {
  transform: translate(360px, 0px);
}

#not2 {
  width: 100%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

.not4 {
  transform: translate(40px, 0px);
}

.not5 {
  transform: translate(360px, 16px);
}

.not6 {
  transform: translate(336px, 160px);
}

.not7 {
  transform: translate(-40px, 364px);
}

.not27 {
  transform: translate(44px, 1064px);
}

.textmont {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

#filme8 {
  width: 660px;
}

#mg {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: -200px;
}

#manual {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 1464px;
  transform: translateX(200px);
}

#gab {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  transform: translate(-80px, -124px);
}

#gabdv {
  transform: translate(0px, 0px);
}

#imgman {
  width: 576px;
  height: 454px;
}

.not8 {
  transform: translate(124px, -16px);
}

.not88 {
  transform: translate(-86px, -286px);
  z-index: -1;
}

.bol33 {
  transform: translate(188px, 244px);
}

.num1{
  transform: translate(124px, 316px);
}

.not9 {
  transform: translate(0px, -444px);
}

#bolas2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -260px;
}

.bol4 {
  transform: translate(124px, 0px);
}

.bol5 {
  transform: translate(400px, 168px);
}







#filme {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 224px;
}

#img113 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not113 {
  transform: translate(-124px, 0px);
}

.not10 {
  transform: translate(-424px, 124px);
  z-index: -1;
}

.bol6 {
  transform: translate(-424px, 86px);
  position: absolute;
}

.bol7 {
  transform: translate(-486px, 112px);
  position: absolute;
}

.bol8 {
  transform: translate(68px, 746px);
  position: absolute;
}

.not11 {
  transform: translate(464px, 398px);
  position: absolute;
}

#exFilme {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

#XFilme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.esconderX {
  font-size: 288px;
  font-weight: 700;
  color: var(--roxo);
  z-index: -1;
  position: absolute;
  transform: translate(568px, -148px);
}

#img8meio {
  width: 648px;
  height: 343px
}

#button {
  display: block;
  width: 648px;
  height: 342px;
  /*background-image: url(imagens/8emeio.png);
  background-size: cover; */
  cursor: pointer;
}

#text3 {
  width: 348px;
  display: flex;
  flex-direction: column;
}

#tit1 {
  margin-bottom: 0px;
}

.titulo {
  font-size: 50px;
}

.bg-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6;
}

.modal-content {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  display: flex;
  width: 80%;
  height: 92%;
  justify-content: center;
  align-items: center;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: var(--roxo);
  overflow: hidden;
}



.close {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 28px;
  font-weight: 700;
  color: var(--roxo);
  cursor: pointer;
}

.close:hover {
  color: white;
}

/* resize iframe code just for testing*/
.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 68% 0 0;
  box-sizing: border-box;
  margin-top: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  top: 0;
  width: 90%;
  height: 80%;
  z-index: 1;
}







footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  margin-top: 844px;
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  font-size: 18px;
}

#footinf {
  display: flex;
flex-direction: column;
}

#insta {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.at {
  margin-left: 12px;
}


.instalink:link, :visited {
color: white;
text-decoration: none;
}

.instalink:hover {
text-decoration: none;
color: var(--roxo);
}

#infobtnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#infobtn {
  width: 36px;
  height: 36px;
  padding: 12px;
  box-sizing: border-box;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  border-radius: 6px;
}

#infobtntt {
  margin-top: 36px;
}

.i {
  font-size: 24px;
  font-weight: 600;
  color: white;
}



#buttoninfo {
  cursor: pointer;
}

.buttoninfo:hover #infobtntt {
  color: var(--roxo);
}





.bg-modal-info {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6;
}

.modal-content {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  display: flex;
  width: 80%;
  height: 92%;
  justify-content: center;
  align-items: center;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: var(--roxo);
  overflow: hidden;
}



.closeinfo {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 28px;
  font-weight: 700;
  color: var(--roxo);
  cursor: pointer;
}

.closeinfo:hover {
  color: white;
}


#editorial {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.edit {
  font-size: 24px;
  font-weight: 700;
}