body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}


/* INICIO */

#frase {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: frase 4s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  visibility: visible;
}

@keyframes frase {
  from {
    top: 0px;
    visibility: visible;
    opacity: 1;
  }

  to {
    top: 0px;
    opacity: 0;
    visibility: hidden;
  }
}

#frase1 {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* color: var(--roxo); */
  font-size: 48px;
  text-transform: none;
  text-align: center;
  display: flex;
  position: absolute;
}




#head {
  padding: 20px 0px;
  /* box-sizing: border-box; */
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: top 0.8s;
}

.subti {
  margin-top: -8px;
  margin-bottom: -8px;
  font-size: 24px;
}

.menu {
  background-image: url(imagens/menuvazio.png);
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.menu:hover {
  background-image: url(imagens/menuhover.png);
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
}

.fecharM {
  background-color: black;
  border: none;
}

.Mativo {
  width: 44px;
  height: 44px;
  background-size: cover;
  background-color: black;
  border: none;
}

#mySidebar {
  background-color: rgb(0, 0, 0);
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  padding: 16px 0px 0px 12px;
  width: 500px;
  height: 100vh;
  z-index: 4;
}

#linhaItems {
  display: flex;
  flex-direction: row;
}

.linhaM {
  width: 80px;
  height: 407px;
  margin-left: 26px;
  margin-top: -6px;
}

#items {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.item {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: -44px;
}

#itemact {
  text-decoration: none;
  color: var(--roxo);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 8px;
}
.item:hover {
  text-decoration: none;
  color: var(--roxo);
}





#parte1 {
  margin-top: 300px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#pintor1 {
  margin-left: 60px;
}

#text1 {
  width: 372px;
  margin-right: 60px;
  margin-top: 80px;
  margin-left: 20px;
}

#muitasbolas {
  display: flex;
  position: absolute;
  top: 0;
  align-items: flex-start;
}

#muitasbolas1 {
  transform: translate(-84px, 240px);
}

#muitasbolas1:hover {
  transform: translate(-62px, 260px);
}

#muitasbolas2 {
  transform: translate(-64px, 440px);
}

#muitasbolas3 {
  transform: translate(-34px, -20px);
}

#muitasbolas3:hover {
  transform: translate(-12px, -40px);
}

#muitasbolas4 {
  transform: translate(0px, 160px);
}

#muitasbolas4:hover {
  transform: translate(20px, 180px);
}

#muitasbolas5 {
  transform: translate(36px, -80px);
}

#muitasbolas6 {
  transform: translate(0px, 320px);
}

#muitasbolas7 {
  transform: translate(-20px, -40px);
}

#muitasbolas7:hover {
  transform: translate(0px, -80px);
}

#muitasbolas8 {
  transform: translate(-40px, 80px);
}

#muitasbolas9 {
  transform: translate(80px, 480px);
}

#muitasbolas9:hover {
  transform: translate(60px, 300px);
}


#muitasbolas10 {
  transform: translate(100px, 440px);
}

#muitasbolas11 {
  transform: translate(100px, 40px);
}

#muitasbolas11:hover {
  transform: translate(120px, 400px);
}

#muitasbolas12 {
  transform: translate(40px, -120px);
}

#muitasbolas13 {
  transform: translate(80px, 0px);
}

#muitasbolas13:hover {
  transform: translate(120px, -20px);
}

#muitasbolas14 {
  transform: translate(10px, 280px);
}






#parte2 {
  margin-top: 600px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
}



#muitasbolas21 {
  transform: translate(-84px, 768px);
  transition: 0.2s;
}

#muitasbolas21:hover {
  opacity: 0;
}

#muitasbolas22 {
  transform: translate(0px, -86px);
}

#muitasbolas22:hover {
  transform: translate(20px, -44px);
}

#muitasbolas23 {
  transform: translate(40px, 724px);
}

#muitasbolas24 {
  transform: translate(240px, 560px);
}

#muitasbolas25 {
  transform: translate(280px, -260px);
}

#muitasbolas25:hover {
  transform: translate(272px, -198px);
}

#muitasbolas26 {
  transform: translate(362px, 640px);
  transition: 0.2s;
}

#muitasbolas26:hover {
  opacity: 0;
}




#text2 {
  width: 444px;
  margin-right: 60px;
  margin-top: 340px;
  margin-left: -80px;
}

#pintor2 {
  margin-top: 240px;
  margin-right: 28px;
}







.pintor2 {
  display: flex;
  width: 242px;
  height: 248px;
  position: relative;
  /*     background-image: url(imagens/coreo4.png);
  background-size: cover;
  */
}

#thumb {
  height: 100%;
  width: 100%;
  opacity: 1;
  /*     position: absolute; */

}

.pintor2:hover #thumb {
  opacity: 0;
}

.pintor2:hover #tinta1 {
  opacity: 1;
}

.fade {
  transition: opacity .5s ease-in-out;
}

#tinta1 {
  width: 120%;
  height: 120%;
  /*     position: absolute; */
  opacity: 0;
  position: absolute;
  transform: rotate(90deg) translate(0px, 36px);
}








#pintor3 {
  margin-right: -40px;
  width: 278px;
  height: 418px;
}

.pintor3 {
  background-image: url(imagens/pintor3.png);
  background-size: cover;
  width: 278px;
  height: 418px;
}

.pintor3:hover {
  background-image: url(imagens/pintor3c.png);
  background-size: cover;
  width: 278px;
  height: 418px;
}





#parte3 {
  margin-top: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
}



#muitasbolas31 {
  transform: translate(20px, 1800px);
  opacity: 0.1;
}



#muitasbolas32 {
  transform: translate(40px, 580px);
  transition: 0.2s;
}

#muitasbolas32:hover {
  opacity: 0;
}


#muitasbolas33 {
  transform: translate(300px, 368px);
  transition: 0.2s;
}

#muitasbolas33:hover {
  opacity: 0;
}

#muitasbolas34 {
  transform: translate(340px, 1600px);
  transition: 0.2s;
}

#muitasbolas34:hover {
  opacity: 0;
}

#muitasbolas35 {
  transform: translate(320px, 1280px);
  opacity: 0.3;
}




#muitasbolas36 {
  transform: translate(356px, 1220px);
  opacity: 0.6;
}


#muitasbolas37 {
  transform: translate(500px, 440px);
}

#muitasbolas38 {
  transform: translate(700px, 980px);
  transition: 0.2s;
}

#muitasbolas38:hover {
  opacity: 0;
}


.vazia1 {
  transform: translate(60px, -20px);
}

.vazia2 {
  transform: translate(-340px, 140px);
}

.vazia3 {
  display: flex;
  align-items: flex-start;
  transform: translate(-28px, -36px);
}

.vazia4 {
  transform: translate(528px, 36px);
}

#text3 {
  width: 440px;
  margin-right: 60px;
  margin-top: 200px;
  margin-left: 25%;
}




.pintor4 {
  display: flex;
  width: 286px;
  height: 496px;
  background-image: url(imagens/pintor4.png);
  background-size: cover;
  opacity: 1;
  transform: translateY(-116px);
  transition: 0.6s;
}


.pintor4:hover {
  opacity: 0;
}





#parte4 {
  margin-top: 280px;
  width: 80%;
  margin-bottom: 100px;
  position: relative;
}

.fotos1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 300px;
}

#pintor5 {
  margin-top: 160px;
}

.pintor5 {
  background-image: url(imagens/pintor5.png);
  background-size: cover;
  width: 430px;
  height: 440px;
}

.pintor5:hover {
  background-image: url(imagens/pintor5c.png);
  background-size: cover;
  width: 430px;
  height: 440px;
}

#pintor6 {
  margin-right: 160px;
}

.pintor6 {
  background-image: url(imagens/pintor6.png);
  background-size: cover;
  width: 280px;
  height: 336px;
}



#text4 {
  width: 384px;
}

#foto1 {
  margin: 82px 0px 0px 320px;
}


.pintor7 {
  background-image: url(imagens/pintor7.png);
  background-size: cover;
  width: 365px;
  height: 356px;
}



.pintor8 {
  background-image: url(imagens/pintor8.png);
  background-size: cover;
  width: 218px;
  height: 252px;
}

.pintor8:hover {
  background-image: url(imagens/pintor8c.png);
  background-size: cover;
  width: 218px;
  height: 252px;
}

#foto2 {
  display: flex;
  align-items: center;
}

#text6 {
  width: 432px;
  margin-left: 36px;
}

#fotos2 {
  display: flex;
  align-items: center;
  margin-top: 296px;
  position: relative;
}




.pintor110 {
  margin-top: -244px;
  background-image: url(imagens/pintor10.png);
  background-size: cover;
  width: 213px;
  height: 303px;
}

.pintor110:hover {
  margin-top: -244px;
  background-image: url(imagens/pintor10c.png);
  background-size: cover;
  width: 213px;
  height: 303px;
}

.pintor11 {
  margin-top: 248px;
}

.pintor13 {
  margin-top: 672px;
}


.img4 {
  position: absolute;
  transform: translate(560px, 76px);
  display: none;
}

.img5 {
  position: absolute;
  transform: translate(60px, 76px);
  display: none;
}

.img6 {
  position: absolute;
  transform: translate(480px, -540px);
  display: none;
}





footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  margin-top: 200px;
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  font-size: 18px;
}

#insta {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.at {
  margin-left: 12px;
}


.instalink:link,
:visited {
  color: white;
  text-decoration: none;
}

.instalink:hover {
  text-decoration: none;
  color: var(--roxo);
}





footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  margin-top: 244px;
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  font-size: 18px;
}

#footinf {
  display: flex;
flex-direction: column;
}

#insta {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.at {
  margin-left: 12px;
}


.instalink:link, :visited {
color: white;
text-decoration: none;
}

.instalink:hover {
text-decoration: none;
color: var(--roxo);
}

#infobtnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#infobtn {
  width: 36px;
  height: 36px;
  padding: 12px;
  box-sizing: border-box;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  border-radius: 6px;
}

#infobtntt {
  margin-top: 36px;
}

.i {
  font-size: 24px;
  font-weight: 600;
  color: white;
}



#buttoninfo {
  cursor: pointer;
}

.buttoninfo:hover #infobtntt {
  color: var(--roxo);
}





.bg-modal-info {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 6;
}

.modal-content {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  display: flex;
  width: 80%;
  height: 92%;
  justify-content: center;
  align-items: center;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: var(--roxo);
  overflow: hidden;
}



.closeinfo {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 28px;
  font-weight: 700;
  color: var(--roxo);
  cursor: pointer;
}

.closeinfo:hover {
  color: white;
}


#editorial {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.edit {
  font-size: 24px;
  font-weight: 700;
}